.container {
position: absolute;
transform: translate(-50%, -50%);
margin-top: 50vh;
margin-left: 50vw;
width: 30vw;
border-radius: 0.75rem;
background-color: #427D9D;
color: white;
padding: 5vh 5vw;
}
.button-login {
    background-color: orange;
    color: white;
    margin-left: 6vw;
    margin-top: 3vh;
    padding: 1vh 3vw;
    font-weight: bold;
}
.button-login:hover {
    color: white;
    background-color: orangered;
    border-color: orange;
}
.button-login:hover {
    color: white;
        background-color: orangered;
        border-color: orange;
}
p {
    font-size: 1vw;
    margin-top: 5vh;
    font-weight: bold;
}
.register {
    color: orange;
}
.register:hover {
    color: orangered;
}
h3 {
    text-align: center;
    margin-left: 0.5vw;
    color: orange;
}
.email {
    margin-top: 6vh;
}
label {
    font-weight: bold;
}
input {
    color: #164863;
}
.modal-container {
margin-top: 1vh;
margin-left: -9vw;
width: 50vw;
border-radius: 0.75rem;
background-color: #427D9D;;
color: #DDF2FD;
padding: 5vh 5vw;
position: relative;
}
.button-register {
    background-color: #164863;
    border: none;
    color: #DDF2FD;
    margin-left: 12vw;
    margin-top: 3vh;
    padding: 1vh 5vw;
    font-weight: bold;
}
.button-register:hover {
    background-color: #DDF2FD;
    color: #164863;
}