.container {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 50vh;
    margin-left: 50vw;
    width: 30vw;
    border-radius: 0.75rem;
    background-color: #427D9D;
    color: white;
    padding: 5vh 5vw;
}
.button-login {
    background-color: orange;
    color: white;
    margin-left: 6vw;
    margin-top: 3vh;
    padding: 1vh 3vw;
    font-weight: bold;
}
.button-login:hover {
    color: white;
    background-color: orangered;
}
p {
    font-size: 1vw;
    margin-top: 5vh;
    font-weight: bold;
}
.register {
    color: orange;
}
.register:hover {
    color: orange
}
.modal-new-user {
    background-color: #164863;
    color: #DDF2FD;
}
h3 {
    text-align: center;
    margin-left: 0.5vw;
    color: orange;
}
.email {
    margin-top: 6vh;
}
label {
    font-weight: bold;
}
input {
    color: #164863;
}
.button-register {
    border: none;
    margin-left: 10vw;
    margin-top: 3vh;
    padding: 1vh 3vw;
}
.esqueci_senha {
    text-align: center;
    color: orange;
    font-weight: bold;
}
.esqueci_senha:hover {
    color: orange;
}