.title-list {
    width: 20vw;
    text-align: center;
    margin-top: -8vh;
    margin-left: 45vw;
    margin-bottom: 5vh;
    font-size: 2vw;
    font-weight: bold;
    overflow-wrap: break-word;
    display: flex;
}
.return {
    display: flex;
    margin-top: 5vh;
    margin-left: 13vw;
}
.button-new-item {
    display: flex;
    margin-left: 44vw;
    margin-bottom: 2vh;
    padding: 0vh 2vw;
    text-align: center;
}
.modal-new-item {
    background-color: #164863;
    color: #DDF2FD;
}
.button-close {
    color: #DDF2FD;
}
.button-close:hover {
    color: #DDF2FD;
}
.meuContainer {
    display: flex;
}
::-webkit-scrollbar-track {
    background-color: gainsboro;
}
::-webkit-scrollbar-thumb {
    background: #164863;
    border-radius: 6px;
}
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}
.max-height {
    max-height: 450px;
    overflow-y: auto;
}
.button-conclude {
    margin-right: 1vw;
    background-color: #427D9D;
    color: white;
    border: transparent;
}
.button-conclude:hover {
    background-color: #164863;
    border-color: transparent;
}
.button-conclude:active {
    background-color: #164863;
    border-color: #164863;
}
.button-pending {
    margin-right: 2vw;
    margin-left: 2vw;
    background-color: orange;
    color: white;
    border-color: transparent;
}
.button-pending:hover {
    color: white;
    background-color: orangered;
    border-color: transparent;
}
.button-pending:active {
    background-color: orangered;
    border-color: orangered;
}
h3 {
    margin-left: 12vw;
}


