.my-name {
    margin-right: 10%;
    margin-bottom: 3px;
    color: #DDF2FD;
}
.nav {
    background-color: #164863;
    color: #DDF2FD;
}
.nav-title {
    color: #DDF2FD;
}
.nav-title:hover {
    color: orange;
}
.item-link {
    color: #DDF2FD;
    margin-right: 5vw;
}
.item-link:hover {
    color: orange;
}

.home {
    margin-left: -5vw;
}
.button-exit {
    margin-right: 3vw;
    padding: 0.5vh 2vw;
    background-color: red;
    color: white;
}